* {
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav {
  display: flex;
  gap: 10vw;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img-content {
  background: url("./beer.png") no-repeat center;
}
